.intro-section {
    background-color: #ffffff;
    color: #000;
    padding: 10px 20px 40px;
    text-align: center;
    margin-top: 80px;
}

.intro-section h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro-section p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

/* Posts Section Styles */
.posts-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.post {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.post img {
    max-width: 90%;
    border-radius: 8px;
    margin-bottom: 15px;
    max-height: 75%;
    height: 350px;
}

.post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.post p {
    font-size: 1em;
    margin-bottom: 20px;
}

.post .btn {
    padding: 10px 20px;
    background-color: #6a1b9a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}


/* Blog Styles */
.article-card {
    background-color: #fff;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.article-header h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.article-content p {
    margin-bottom: 20px;
    text-align: justify;
}

.article-content h2 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 15px;
}

.article-author {
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.article-author img {
    width: 115px;
    height: 150px;
    border-radius: 25%;
    margin-right: 20px;
}

.author-info h4 {
    margin: 0;
    font-size: 1.2em;
}

.author-info p {
    margin: 5px 0;
    color: #555;
}

.back-button {
    display: inline-block;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    position: fixed; /* Butonu sabitler */
    top: 10px; /* Üstten mesafe */
    left: 10px; /* Sola mesafe */
    transition: background-color 0.3s ease;
    z-index: 1000; /* Butonun diğer içeriklerin üstünde olmasını sağlar */
    margin-top: 135px;
    margin-left: 420px;
}

.back-button:hover {
    background-color: #ddd; /* Üzerine gelindiğinde arka plan rengi değişir */
}

