/* Navbar düzenlemeleri */
.navbar {
    padding: 1.5rem 2.5rem; /* Navbar yüksekliğini artırdık */
}

.navbar-brand img {
    max-height: 110px; /* Logonun yüksekliğini biraz daha artırdık */
    margin-top: 0;
}

.navbar-nav .nav-link {
    color: #000000;
    font-size: 1.3em; /* Yazı boyutunu biraz daha artırdık */
    font-family: 'Open Sans', sans-serif;
    margin: 0 20px; /* Linkler arasındaki boşlukları biraz daha artırdık */
}

.btn-primary {
    background-color: #0058bd;
    padding: 12px 35px; /* Buton boyutunu biraz daha artırdık */
    border-radius: 5px;
    font-size: 1.1em; /* Buton yazı boyutunu biraz daha artırdık */
}

.btn-primary:hover {
    background-color: #092a83ec;
}

/* Responsive düzenlemeler */
@media (min-width: 992px) {
    .navbar {
        padding: 2rem 4rem; /* Daha geniş ekranlar için navbar yüksekliğini artırdık */
    }
    .navbar-nav {
        margin: 0 auto; /* Navbar içeriklerini ortaladı */
    }
}

@media (max-width: 991px) {
    .navbar-brand img {
        max-height: 90px; /* Mobilde logo daha büyük */
    }
    .navbar-nav .nav-link {
        font-size: 1.2em; /* Mobilde link yazı boyutunu biraz daha artırdık */
    }
    .btn-primary {
        padding: 10px 30px; /* Mobilde buton boyutunu artırdık */
    }
}
