/* Products hero Section Stil */
.product-hero {
    background-image: url('/images/product_hero.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    min-height: 70vh;
    padding-top: 100px; 
}

.product-hero-content h1 {
    font-size: 2.5em;
    text-align: left;
    margin-bottom: 15px;
    color: #000000;
    font-weight: bold;
    width: 50%;
    margin-left: 90px;
    margin-top: 55px;
}

.product-hero-content p {
    font-size: 1.2em;
    text-align: left;
    width: 35%;
    color: #000000;
    margin-left: 90px;
    margin-top: 55px;
}

.hero-buttons-product {
    margin-top: 220px;
}

.hero-buttons-product .btn {
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.hero-buttons-product .btn-primary {
    background-color: #0058bd;
    color: #ffffff;
    opacity: 1;
}

.hero-buttons-product .btn-primary:hover {
    opacity: 0.9;
}


/* Genel Stiller */
.products-section {
    background-color: #0a1058;
    padding: 50px 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.products-section h2 {
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: bold;
}

.product-gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: center;
    position: relative;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 37%;
    height: 380px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out, z-index 0.5s ease-in-out;
}

.card.active {
    transform: scale(1) translateX(0);
    z-index: 10;
}

.card.inactive {
    transform: scale(0.8) translateX(20px);
    z-index: 8;
    opacity: 0.8;
    cursor: pointer;
}

.card h1 {
    font-size: 1.8em;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    align-self: center;
}

.card-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card img {
    width: 55%;
    height: 100%;
    border-radius: 8px;
}

.card p {
    font-size: 1em;
    color: #333333;
    line-height: 1.6;
    width: 55%;
    margin-left: 20px;
}

.dots-container {
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: rgba(255, 255, 255, 1);
}

/* Media Queries */

/* Tablet ve daha küçük ekranlar için */
@media (max-width: 768px) {
    .product-hero-content h1,
    .product-hero-content p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .hero-buttons-product {
        margin-top: 40px;
        text-align: center;
    }

    .product-gallery {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .card {
        width: 80%;
        height: auto;
    }

    .card-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .card img, .card p {
        width: 100%;
        margin: 0;
    }

    .card p {
        margin-top: 15px;
    }
}

/* Mobil ekranlar için */
@media (max-width: 480px) {
    .product-hero-content h1,
    .product-hero-content p {
        width: 100%;
        font-size: 1.5em;
        margin-top: 20px;
    }

    .hero-buttons-product {
        margin-top: 20px;
        text-align: center;
    }

    .products-section {
        padding: 30px 10px;
    }

    .products-section h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .card {
        width: 90%;
    }

    .card h1 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .card p {
        font-size: 0.9em;
    }

    .dots-container {
        margin-top: 15px;
    }

    .dot {
        height: 12px;
        width: 12px;
    }
}

/* YouTube Tanıtım Videosu Kısmı */
.moto-video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.moto-video-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
}

.video-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    padding-bottom: 30%; /* Yüksekliği daha da azaltıyoruz */
    height: 0;
    overflow: hidden;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Mobil ekranlar için */
@media (max-width: 480px) {
    .video-container {
        width: 100%;
        padding-bottom: 40%; /* Mobilde de yüksekliği azaltıyoruz */
    }
}
