/* Hero Section Stil */
.hero-section {
    background-image: url('/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    min-height: 100vh;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2em;
}

/* Butonlar için stil */
.hero-buttons {
    margin-top: 20px;
}

.hero-buttons .btn {
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.hero-buttons .btn-primary {
    background-color: #ffffff;
    color: #000000;
    opacity: 1;
}

.hero-buttons .btn-primary:hover {
    opacity: 0.7; /* Fareyle üzerine gelindiğinde şeffaflaşır */
}

.hero-buttons .btn-secondary {
    background-color: rgba(255, 255, 255, 0.7); /* Şeffaf bir arka plan */
    color: #000000;
    border: 1px solid #ffffff;
    opacity: 0.7;
}

.hero-buttons .btn-secondary:hover {
    opacity: 1; /* Fareyle üzerine gelindiğinde netleşir */
    background-color: #ffffff;
}
